html{
	background-image: url(fond2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Indie Flower', cursive;
}

img{
	width: 280px;
	transition: 1s;
}

img:hover{
	cursor: pointer;
	transform: scale(1.4);
	width: 400px;

}

.images{
	display: flex;
	justify-content: space-between;
}

h1
{
	border:5px solid #A52A2A;
	border-radius: 30px;
	border-color: #000080;
	width: 190px;
	color: #000080;
	padding:5px;
}

h2
{
	color: black;
	text-align: center;
	font-size: 40px;
	
}

h3
{
	color: black;
	font-size: 30px;

}

p
{
	font-size: 20px;
}

form{
	font-size: 30px;
}

label{
	font-size: 30px;
}

footer
{
	display: flex;
	justify-content: space-around;
}
.contact
{
	height: 100px;
	width: 300px;
	border:2px solid black;
}

.web
{
	height: 100px;
	width: 300px;
	border:2px solid black;
}